# See /etc/sway/config

exec export PATH="$HOME/bin/scr:$HOME/bin/exe:$PATH"

set $term foot

set $menu dmenu_path | wmenu | xargs swaymsg exec --

include /etc/sway/config-vars.d/*

exec_always clipman store

set clipboard=unnamedplus

:set clipboard=unnamedplus


output * bg /usr/share/backgrounds/sway/Sway_Wallpaper_Blue_1920x1080.png fill

include ~/screens/tech/linux_config/sway.bind.conf

include ~/screens/tech/linux_config/sway.layout.conf

bar {
    position top

    # When the status_command prints a new line to stdout, swaybar updates.
    # The default just shows the current date and time.
    status_command while date +'%Y-%m-%d %X'; do sleep 1; done

    colors {
        statusline #ffffff
        background #323232
        inactive_workspace #32323200 #32323200 #5c5c5c
    }
}

include /etc/sway/config.d/*

